@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div>

    <p>I'm a software engineering student, with this little blog. I sometimes feel the need to write.
    So this is a little effort in fulfilling my own pleasure.</p>
    
    <p>"Not that I'm interesting or anything, but I'll try and write something more in the future."</p>

  </div>
