@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>درباره‌ی من</h1>
  </div>
  </header>

  <div>

    <p>
	
من یک دانشجوی مهندسی کامپیوتر هستم، اینجا هم یکی از ده‌ها وبلاگی هست که تا الان داشتم و بجز یکی‌شون، موفق نشدم بقیه‌شون رو زیاد ادامه بدم. ولی این یکی فرق می‌کنه. چون موضوعاتی که می‌خوام بنویسم متفاوت‌تر هستن. امیدوارم که موفق بشم این وبلاگ رو از این به بعد به‌روز نگه دارم. امیدوارم :)
	</p>
    
    <p>"Not that I'm interesting or anything, but I'll try and write something more in the future."</p>

  </div>
