@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.minimal.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>تقویم من</h1>
  </div>
  </header>

  <div style="width:1200px">
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=900&amp;wkst=7&amp;bgcolor=%23ffffcc&amp;src=erfan.noury%40gmail.com&amp;color=%237A367A&amp;src=p%23weather%40group.v.calendar.google.com&amp;color=%23865A5A&amp;ctz=Asia%2FTehran" style=" border:solid 1px #777 " width="1200" height="900" frameborder="0" scrolling="no"></iframe>
  </div>
